body {
    margin: 0px;
    font-family: roboto;

}

header {
    background-color: #1f2937;
    padding: 0px 250px;
}

.logo {
    font-size: 24px;
    color: #F9FAF8;
    font-weight: bolder;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

ul {
    display: flex;
    list-style-type: none;
    gap: 30px;
}

a {
    text-decoration: none;
    font-size: 18px;
}

a:visited {
    color: #F9FAF8;
}

a:hover {
    color: #b8b8b8;
}

.herobox {
    margin: 70px 0px 30px 0px;
    padding-bottom: 100px;
    display: flex;
    justify-content: space-between;
}

.heroItem {
    width: 50%;
    height: 250px;
    
}

h1 {
    color: #F9FAF8;
    font-size: 48px;
    font-weight: bolder;
}

#herosub {
    color: #e5e7eb;
}

button {
    background-color: #3882f6;
    color: #F9FAF8;
    border: none;
    font: 18px roboto;
    padding: 5px 20px;
    margin-top: 5px;
    border-radius: 7px;
}

#crown {
    align-self: center;
    width: 650px;
    height: 350px;
    border-radius: 15px;
}

h2 {
    text-align: center;
    font-size: 36px;
    font-weight: bolder;
}

.icons {
    display: flex;
    justify-content: center;
    gap: 40px;
    margin-bottom: 150px;
}

.icon {
    height: 150px;
    width: 150px;
    border: 2px solid #3882f6;
    border-radius: 20px;
}

.iconImage {
    height: 150px; 
    width: 150px; 
    border-radius: 18px;
}

.iconText {
    font-size: 18px;
    color: #969696;
    text-align: justify;
    margin: 0;
}

#quoteSection {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: #e5e7eb;
    padding: 40px;
}

#quote {
    color: #1f2937;
    font: italic lighter 36px roboto;
    text-align: center;
}

#author {
    text-align: right;
    padding-right: 350px;
    margin: 0;
    font-weight: bolder;
}

#actionSection {
    display: flex;
    background-color: #3882f6;
    border-radius: 20px;
    color: #F9FAF8;
    margin: 80px 160px;
}

#actionText {
    
}